<article>
    <section>
        <h2 id="Delhi">Delhi</h2>
        <p>Delhi is of great historical significance as an important commercial,transport, and cultural hub, as well as the political centre of India.</p>
        <img src="images/bulb-on.jpg">
        <h2 id="Mumbai">Mumbai</h2>
        <p>Mumbai is known for its lively and cosmopolitan atmosphere, as well as 
        its rich history and culture. The city has long been associated with the 
        film industry and is often referred to as the “Bollywood capital.” 
        Mumbai is famous for its bustling markets, street food, and iconic landmarks such as the Gateway of India.</p>
        <img src="images/bulb-off.jpg">
        <h2 id="Kashmir">Kashmir</h2>
        <p>Popularly known as the "Paradise on Earth," Jammu and Kashmir is a tourist favorite for its scenic splendor,
         snow-capped mountains, plentiful wildlife, exquisite monuments, hospitable people, and local people handicrafts</p>
         <img src="images/bulb-on.jpg">
    </section>
</article>